* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 100%;
}
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  height: 100vh;
  background-image: url("../../images/big-image.png");
  background-size: cover;
  background-position: center;
}
.hero .herotext {
  text-align: left;
  margin-left: 20%;
}
.hero .herotext > h2 {
  font-size: 48px;
  font-weight: 400;
  width: 613px;

  color: black;
}
.hero .herotext > p {
  font-size: 18px;
  font-weight: 400;
  width: 550px;
  color: black;
}
.herodiv {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: row;
}
.herodiv .btn1 {
  background-color: rgba(255, 196, 0, 0.959);
  gap: 15px;
  border: 0px;
  text-align: center;
  width: 220px;
  height: 48px;
  top: 671px;
  left: 260px;
}
.hero1 .btn {
  background-color: #fcd900;
  display: flex;
  gap: 12px;
  border: 0px;
}
.herobtn {
  display: flex;
  align-items: center;
}
.herotext1 {
  display: flex;
  flex-direction: column;
}
.herotext1 > h6 {
  font-weight: 400;
  font-size: 14px;
  color: black;
}
.herotext1 > p {
  font-weight: 400;
  font-size: 24px;
  color: black;
}
