* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main3text {
  display: flex;
  justify-content: center;
  align-items: center;
}
.filling {
  display: flex;
  border: 1px solid #efefef;
}
.whatwedo {
  font-size: 35px;
  font-weight: 400;
}
.filling,
.solution,
.software,
.consultancy,
.support {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 220px;
  height: 177px;
}
