* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}
.whoweare {
  width: 50%;
}
.whoweare2 {
  width: 50%;
}
.main2section {
  display: flex;
  gap: 50px;
}
.whatwedo {
  width: 450px;
  height: 180px;
  top: 1717px;
  left: 259px;
  margin-left: 175px;
  justify-content: space-between;
}
